* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 40px;
  column-gap: 40px;
  justify-items: center;
  margin: 30px;
}

.product {
  background-color: #212529;
  color: #ffd43b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 500;
  font-size: 18px;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.226);
  border-radius: 12px;
}

img {
  border-radius: 12px;
  width: 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.product-box {
  padding: 14px 24px;
  background-color: #212529;
  color: #ffd43b;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.title {
  font-size: 20px;
  height: 25px;
  align-self: center;
  margin: 8px;
}
hr {
  border: 1px solid #ffd43b;
  background-color: #ffd43b;
}

.description {
  height: 40px;
  align-self: start;
  font-size: 14px;
}

.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  align-self: flex-start;
  width: 100%;
}

.btn--small {
  font-size: 14px;
  padding: 8px 12px;
}

.btnn:link,
.btnn:visited,
.search-btn {
  text-decoration: none;
  color: #ffd43b;
  font-weight: 500;
  font-size: 20px;
  border: 2px solid #ffd43b;
  padding: 5px 8px;
  border-radius: 15px;
  background-color: #212529;
}

.btnn:hover {
  background-color: #ffd43b;
  color: #212529;
}

.btnn:active {
  box-shadow: 0 0 5px 2px #fddc67;
}

.search-bar {
  background-color: #212529;
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

.search {
  margin-left: 20px;
  background-color: transparent;
  border: 2px solid #ffd43b;
  border-radius: 15px;
  color: #ffd43b;
  text-align: center;
  outline: none;
}

.search-btn {
}
