<div class="call-to-action">
    <h2>WELCOME TO STORE</h2>

    <div class="buy">
        <h3>Buy or sell? </h3>
        <p>Do you have unwanted items you wish to sell or do you want do buy used items?</p>
        <a routerLink="/items">Start here</a>
    </div>

    <!-- <div class="sell">
        <h3>Do you want sell items you don't need </h3>
        <a routerLink="/login" >Sell here</a>
    </div> -->

    <img class="image" src="assets/homeImage.jpg" alt="image">

</div>
<!-- da bi napravili ovo treba koristit position relative i absolute -->